*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background: transparent;
}

body{
    background-color: rgb(30, 30, 30);
    color: #ffffff;
    overflow: hidden;
    overflow: scroll;
    font-family: 'Poppins', sans-serif;
}